<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Login | YSFlight Headquarters</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="assets/css/style_responsive.css">
    <link rel="shortcut icon" href="favicon.ico">        
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="assets/css/themes/default.css" id="style_color">
    <link rel="stylesheet" href="assets/css/themes/headers/default.css" id="style_color-header-1">    
</head> 

<body>
<!--=== Top ===-->    
<div class="top">
    <div class="container">         
        <ul class="loginbar pull-right">
            <li><i class="icon-globe"></i><a>Languages <i class="icon-sort-up"></i></a>
                <ul class="nav-list">
                    <li class="active"><a href="#">English</a> <i class="icon-ok"></i></li>
                    <li><a href="#">Spanish</a></li>
                    <li><a href="#">Portuguese</a></li>
                    <li><a href="#">Japanese</a></li>
                </ul>
            </li>   
            <li class="devider">&nbsp;</li>
            <li><a href="page_faq.html" class="login-btn">Help</a></li>
            <li class="devider">&nbsp;</li>
            <li><a href="login.html" class="login-btn"><strong>Login</strong></a></li>
            <li class="devider">&nbsp;</li>
            <li><a href="register.html" class="login-btn"><strong>Join</strong></a></li>
        </ul>
    </div>      
</div><!--/top-->
<!--=== End Top ===-->    

<!--=== Header ===-->
<div class="header">               
    <div class="container"> 
        <!-- Logo -->       
        <div class="logo">                                             
            <a href="index.html"><img id="logo-header" src="assets/img/logo.png" alt="Logo"></a>
        </div><!-- /logo -->        
                                    
        <!-- Menu -->       
        <div class="navbar">                                
            <div class="navbar-inner">                                  
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->                                  
                <div class="nav-collapse collapse">                                     
                    <ul class="nav top-2">
                        <li>
                            <a href="index.html">Home</a>
                        <li>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">YSFlight
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="ysflight.html#whatis">What is YSFlight?</a></li>
                                <li><a href="multimedia.html">Multimedia</a></li>
                                <li><a href="http://ysflight.in.coocan.jp/software/e.html#YSFLIGHT">Download YSFlight</a></li>
                                <li><a href="help_faq.html#help">YSFlight Support</a></li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Resources
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://ysflightsim.wikia.com/wiki/YS_Flight_Sim_Wiki">YSFlight Wiki</a></li>
                                <li><a href="http://ysflightsim.wikia.com/wiki/Flight_School">Flight School</a></li>
                                <li><a href="http://www.ysupload.com/">Download Addons</a></li>
                                <li><a href="http://ysflightsim.wikia.com/wiki/The_Modification_Encyclopedia">Modding Resources</a></li>
                                <li><a href="http://ysflightsim.wikia.com/wiki/Multiplayer_Guide">Multiplayer Guide</a></li>
                                <li><a href="help_faq.html#faq">Frequently Asked Questions</a></li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Community
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="members_lounge.html">Members' Lounge</a></li>
                                <li><a href="http://ysfhq.com/phpbb3/viewforum.php?f=139">Combat HQ</a></li>
                                <li><a href="http://ysfhq.com/phpbb3/viewforum.php?f=141">Aerobatic HQ</a></li>
                                <li><a href="http://ysfhq.com/phpbb3/viewforum.php?f=140">Civilian HQ</a></li>
                                <li><a href="upcoming_events.html">Upcoming Events</a></li>
                                <li><a href="servers.html">Online Servers</a></li>
                                <li><a href="scoreboards.html">Group Scoreboards</a></li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                        <li>
                            <a href="forum.html">Forums</a>
                        </li>
                        <li><a class="search"><i class="icon-search search-btn"></i></a></li>
                    </ul>
                    <div class="search-open">
                        <div class="input-append">
                            <form>
                                <input type="text" class="span3" placeholder="Search YSFlight Headquarters" />
                                <button type="submit" class="btn-u">Go</button>
                            </form>
                        </div>
                    </div>
                </div><!-- /nav-collapse -->                                
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->                          
    </div><!-- /container -->               
</div><!--/header -->      
<!--=== End Header ===-->

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
	<div class="container">
        <h1 class="pull-left">Login</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">Login</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row-fluid">
        <form class="log-page">
            <h3>Login to your account</h3>    
            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input class="input-xlarge" type="text" placeholder="Username">
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span>
                <input class="input-xlarge" type="text" placeholder="Password">
            </div>
            <div class="controls form-inline">
                <label class="checkbox"><input type="checkbox" /> Stay Signed In</label>
                <button class="btn-u pull-right" type="submit">Login</button>
            </div>
            <hr />
            <h4>Forgot your password?</h4>
            <p>No worries, <a class="color-green" href="#">click here</a> to reset your password.</p>
        </form>
    </div><!--/row-fluid-->
</div><!--/container-->		
<!--=== End Content Part ===-->

<!--=== Footer ===-->
<div class="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span4">
                <!-- About -->
                <div class="headline"><h3>About</h3></div>  
                <p class="margin-bottom-25">YSFlight Headquarters has been the best English-speaking YSFlight fan community since 2010.</p>

                <!-- Monthly Newsletter -->
                <div class="headline"><h3>Monthly Newsletter</h3></div> 
                <p>Subscribe to our newsletter and stay up to date with the latest news, events, addons, and much more!</p>
                <form class="form-inline">
                    <div class="input-append">
                        <input type="text" placeholder="Email Address" class="input-medium">
                        <button class="btn-u">Subscribe</button>
                    </div>
                </form>                         
            </div><!--/span4--> 
            
            <div class="span4">
                <div class="posts">
                    <div class="headline"><h3>Servers Currently Online</h3></div>
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="assets/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#"><strong>The Best Server</strong><br>There are <em>5 players</em> currently flying<br>Join at <strong>192.168.1.100</strong>:7915</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#"><strong>A Decent Server</strong><br>There are <em>5 players</em> currently flying<br>Join at <strong>192.168.1.100</strong>:7915</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="assets/img/sliders/elastislide/11.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#"><strong>Complete Madness</strong><br>There are <em>5 players</em> currently flying<br>Join at <strong>192.168.1.100</strong>:7915</a></p> 
                        </dd>
                    </dl>
                </div>
            </div><!--/span4-->

            <div class="span4">
                <!-- Contact Us -->
                <div class="headline"><h3>Contact Us</h3></div>
                <p>
                    We'd love to hear from you! You can contact the YSFHQ staff at <a href="mailto:contact@ysfhq.com" class="">contact@ysfhq.com</a>. You can also fill out our contact form <a href="#">here</a>. For all legal matters, please email <a href="mailto:legal@ysfhq.com" class="">legal@ysfhq.com</a>. <a href="#">Visit us on the forums!</a>
                </p>

                <!-- Stay Connected -->
                <div class="headline"><h3>Stay Connected</h3></div> 
                <ul class="social-icons">
                    <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
                    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                    <li><a href="#" data-original-title="YouTube" class="social_youtube"></a></li>
                </ul>
            </div><!--/span4-->
        </div><!--/row-fluid--> 
    </div><!--/container--> 
</div><!--/footer-->    
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row-fluid">
            <div class="span8">
                <p>2013 &copy; YSFlight Headquarters. All Rights Reserved. <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
            </div>
            <div class="span4">
                <a href="index.html"><img id="logo-footer" src="assets/img/logo_text.png" class="pull-right" alt="" /></a>
            </div>
        </div><!--/row-fluid-->
    </div><!--/container--> 
</div><!--/copyright--> 
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="assets/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="assets/js/modernizr.custom.js"></script>        
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/js/respond.js"></script>
<![endif]-->

</body>
</html> 
