<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>YSFlight Headquarters is unavailable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/cerulean/bootstrap.min.css" rel="stylesheet">
    <style>body {padding: 60px 0 20px 0;}</style>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <h5 class="brand" style="cursor:default; margin: 0">YSFlight Headquarters is down for maintainence</h5>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span12">
          <h2>Uh oh! Looks like YSFlight Headquarters is in the hangar right now. Our mechanics are working hard to bring it back online. We apologize for the inconvenience.</h2>
          <h3>While you wait, discuss YS in the #ysflight IRC channel below!</h3>
          <!--<p>More info should go here.</p>-->
          <iframe src="http://webchat.freenode.net?channels=ysflight" frameborder="0" seamless style="width:940px;height:400px;margin: 0 auto"></iframe>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  </body>
</html>