<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>YSFlight | YSFlight Headquarters</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="assets/css/style_responsive.css">
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="assets/css/themes/default.css" id="style_color">
    <link rel="stylesheet" href="assets/css/themes/headers/default.css" id="style_color-header-1">    
</head> 

<body>
<!--=== Top ===-->    
<div class="top">
    <div class="container">         
        <ul class="loginbar pull-right">
            <li><i class="icon-globe"></i><a>Languages <i class="icon-sort-up"></i></a>
                <ul class="nav-list">
                    <li class="active"><a href="#">English</a> <i class="icon-ok"></i></li>
                    <li><a href="#">Spanish</a></li>
                    <li><a href="#">Portuguese</a></li>
                    <li><a href="#">Japanese</a></li>
                </ul>
            </li>   
            <li class="devider">&nbsp;</li>
            <li><a href="page_faq.html" class="login-btn">Help</a></li>
            <li class="devider">&nbsp;</li>
            <li><a href="login.html" class="login-btn"><strong>Login</strong></a></li>
            <li class="devider">&nbsp;</li>
            <li><a href="register.html" class="login-btn"><strong>Join</strong></a></li>
        </ul>
    </div>      
</div><!--/top-->
<!--=== End Top ===-->    

<!--=== Header ===-->
<div class="header">               
    <div class="container"> 
        <!-- Logo -->       
        <div class="logo">                                             
            <a href="index.html"><img id="logo-header" src="assets/img/logo.png" alt="Logo"></a>
        </div><!-- /logo -->        
                                    
        <!-- Menu -->       
        <div class="navbar">                                
            <div class="navbar-inner">                                  
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->                                  
                <div class="nav-collapse collapse">                                     
                    <ul class="nav top-2">
                        <li>
                            <a href="index.html">Home</a>
                        <li class="active">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">YSFlight
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="ysflight.html#whatis">What is YSFlight?</a></li>
                                <li><a href="multimedia.html">Multimedia</a></li>
                                <li><a href="http://ysflight.in.coocan.jp/software/e.html#YSFLIGHT">Download YSFlight</a></li>
                                <li><a href="help_faq.html#help">YSFlight Support</a></li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Resources
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://ysflightsim.wikia.com/wiki/YS_Flight_Sim_Wiki">YSFlight Wiki</a></li>
                                <li><a href="http://ysflightsim.wikia.com/wiki/Flight_School">Flight School</a></li>
                                <li><a href="http://www.ysupload.com/">Download Addons</a></li>
                                <li><a href="http://ysflightsim.wikia.com/wiki/The_Modification_Encyclopedia">Modding Resources</a></li>
                                <li><a href="http://ysflightsim.wikia.com/wiki/Multiplayer_Guide">Multiplayer Guide</a></li>
                                <li><a href="help_faq.html#faq">Frequently Asked Questions</a></li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Community
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="members_lounge.html">Members' Lounge</a></li>
                                <li><a href="http://ysfhq.com/phpbb3/viewforum.php?f=139">Combat HQ</a></li>
                                <li><a href="http://ysfhq.com/phpbb3/viewforum.php?f=141">Aerobatic HQ</a></li>
                                <li><a href="http://ysfhq.com/phpbb3/viewforum.php?f=140">Civilian HQ</a></li>
                                <li><a href="upcoming_events.html">Upcoming Events</a></li>
                                <li><a href="servers.html">Online Servers</a></li>
                                <li><a href="scoreboards.html">Group Scoreboards</a></li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                        <li>
                            <a href="forum.html">Forums</a>
                        </li>
                        <li><a class="search"><i class="icon-search search-btn"></i></a></li>
                    </ul>
                    <div class="search-open">
                        <div class="input-append">
                            <form>
                                <input type="text" class="span3" placeholder="Search YSFlight Headquarters" />
                                <button type="submit" class="btn-u">Go</button>
                            </form>
                        </div>
                    </div>
                </div><!-- /nav-collapse -->                                
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->                          
    </div><!-- /container -->               
</div><!--/header -->      
<!--=== End Header ===-->

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
	<div class="container">
        <h1 class="pull-left">YSFlight</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">YSFlight</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row-fluid">
        <div class="span12">
            <div class="header-image">
                <a href="/images/info/header.jpg" rel="lightbox" title="Fly a jet plane, drive a car, or run around as the president. Anything you want to do, you can do in YSFlight free flight simulator."><img src="http://ysfhq.com/images/info/header.jpg" alt="YSFlight Free Flight Simulator" title="Fly a jet plane, drive a car, or run around as the president. Anything you want to do, you can do in YSFlight free flight simulator." /></a>
                <h2 class="top-text">YSFlight is the only free flight simulator<br>
                    where anything is possible.</h2>
            </div>
            <div class="inline-img right">
                <a href="/images/info/a10.jpg" rel="lightbox" title="Ground attack, dogfighting, in any era, with any aircraft. Fly hundreds of different aircraft and do thousands of different sorties."><img src="http://ysfhq.com/images/info/a10.jpg" alt="YSFlight Free Flight Simulator" title="Ground attack, dogfighting, in any era, with any aircraft. Fly hundreds of different aircraft and do thousands of different sorties." /></a>
            </div>
            <h3>YSFlight is a free flight simulator that places the user in control.</h3>
            <p><em>Basic avionics, forgiving flight models, and uncomplicated weapons systems make YSFlight easy to learn, while a vibrant modding and online flight community draws new fans in and holds veterans’ attention.</em></p>
            <div class="clr"></div>
            <blockquote class="left">
                "The only limits are your imagination, your add on collection, and the rules of the server where you fly."
            </blockquote>
            <p>Shoot down waves of hostile aircraft offline, demolish nearly any ground object with any weapon, or challenge other combat pilots online to test your mettle as a flying ace.  Use the navigation instruments to plot a peaceful flight, or hunt your prey with air to ground missiles, coming in for the kill with a hail of gunfire.  Fly aerobatic formations, fight in ultra-lights, or land a strategic bomber on a helicopter pad. <em><strong>The only limits are your imagination, your add on collection, and the rules of the server where you fly.</strong></em></p>
            <div class="clr"></div>
            <div class="inline-img right" id="img-c2">
                <a href="/images/info/c2.jpg" rel="lightbox" title="Deliver cargo, fly continental, do aerobatics in a Cessena. The choice is yours with YSFlight free flight simulator's sandbox engine style."><img src="http://ysfhq.com/images/info/c2.jpg" alt="YSFlight Free Flight Simulator" title="Deliver cargo, fly continental, do aerobatics in a Cessena. The choice is yours with YSFlight free flight simulator's sandbox engine style." /></a>
            </div>
            <p>With multiplayer, you can join your friends on servers to do just about anything you can’t always do alone. Join together in teams and dogfight “East v. West” battles in modern or cold war era aircraft, or show off your skills doing aerobatics for your friends. YSFlight free flight simulation provides the amazing opportunity to host online events such as virtual airshows, squadron competitions, or even races! YSFlight’s extensive online community has been around for nearly a decade, and host all kinds of amazing events. The community is constantly creating addons for everyone, and always giving advice to newcomers.</p>
            <div class="clr"></div>
            <div class="inline-img left" id="img-chopper">
                <a href="/images/info/chopper.jpg" rel="lightbox" title="Build huge maps with custom ground objects and create the places you've always wanted to fly over. If it exists in your mind, it can exist in YSFlight."><img src="http://ysfhq.com/images/info/chopper.jpg" alt="YSFlight Free Flight Simulator" title="Build huge maps with custom ground objects and create the places you've always wanted to fly over. If it exists in your mind, it can exist in YSFlight." /></a>
            </div>
            <p>Under continual development by Soji Yamakawa, YSFlight free flight simulator provides a growing list of features, with a substantial set of maps and aircraft in the initial download. <strong>The true strength of the game, however, is the modding community.</strong> YSFHQ houses an extensive collection of new maps, aircraft, weapons skins, and tools, while the international community provides thousands of additional mods to try. If you can’t find what you really want, make it yourself! With relatively simple modding tools, almost anyone can produce basic repaints, while greater efforts can produce high quality jet fighters, transformable mechs, or a man on a bicycle.</p>
            <div class="clr"></div>
            <h3>Try this amazing free flight simulation today and you too will find that though this simulator may not have the world’s greatest graphics, it is like nothing else the world has ever seen - and it’s all FREE.</h3>
            <hr>
            <div id="download-link">
                <h2>Interested? Great! Download YSFlight here:</h2>
                <a href="http://ysflight.in.coocan.jp/software/e.html#AutoNumber3" class="red dl-link">DOWNLOAD YSFLIGHT FREE FLIGHT SIMULATOR</a>
                <h3>And to make the most out of YSFlight, <a href="/phpbb3/ucp.php?mode=register">register for our forum!</a></h3>
                <a href="http://ysfhq.com/ysflight-manual"><h3>Read the YSFlight manual here</h3></a>
            </div>
            <style type="text/css">
                .span12 p {
                    font-size:14px;
                    line-height:1.3em;
                }
                .span12 .header-image img {
                    width:100%;
                    height:auto;
                }
                #info-box .header-image {
                    text-align:center;
                    background-color:#4a4a4a;
                    margin-bottom:20px;
                }
                .top-text{
                    font-size:20px;
                    font-style:italic;
                    padding:20px 0;
                }
                .inline-img, blockquote {
                    width:200px;
                }
                .inline-img img{
                    width:100%;
                    height:auto;
                }
                .left {
                    float:left;
                    margin-right:10px;
                }
                .right {
                    float:right;
                    margin-left:10px;
                }
                blockquote {
                    border-top:solid #CCC 1px;
                    border-bottom:solid #CCC 1px;
                    padding: 30px 0px;
                    font-size:16px;
                    font-weight:700;
                    font-style:italic;
                    margin-right:0px;
                    margin-left:0px;
                }
                #img-c2, #img-chopper {
                    margin-top:20px;
                    margin-bottom:30px;
                }
                #download-link {
                    text-align:center;
                    padding:20px 0px;
                }
                #download-link h2 {
                    margin:5px;
                    font-style:italic;
                }
                #download-link .dl-link {
                    font-size:18px;
                    text-decoration:underline;
                    margin-bottom:30px;
                }
            </style>
        </div>
    </div><!--/row-fluid-->
</div><!--/container-->		
<!--=== End Content Part ===-->

<!--=== Footer ===-->
<div class="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span4">
                <!-- About -->
                <div class="headline"><h3>About</h3></div>  
                <p class="margin-bottom-25">YSFlight Headquarters has been the best English-speaking YSFlight fan community since 2010.</p>

                <!-- Monthly Newsletter -->
                <div class="headline"><h3>Monthly Newsletter</h3></div> 
                <p>Subscribe to our newsletter and stay up to date with the latest news, events, addons, and much more!</p>
                <form class="form-inline">
                    <div class="input-append">
                        <input type="text" placeholder="Email Address" class="input-medium">
                        <button class="btn-u">Subscribe</button>
                    </div>
                </form>                         
            </div><!--/span4--> 
            
            <div class="span4">
                <div class="posts">
                    <div class="headline"><h3>Servers Currently Online</h3></div>
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="assets/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#"><strong>The Best Server</strong><br>There are <em>5 players</em> currently flying<br>Join at <strong>192.168.1.100</strong>:7915</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#"><strong>A Decent Server</strong><br>There are <em>5 players</em> currently flying<br>Join at <strong>192.168.1.100</strong>:7915</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="assets/img/sliders/elastislide/11.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#"><strong>Complete Madness</strong><br>There are <em>5 players</em> currently flying<br>Join at <strong>192.168.1.100</strong>:7915</a></p> 
                        </dd>
                    </dl>
                </div>
            </div><!--/span4-->

            <div class="span4">
                <!-- Contact Us -->
                <div class="headline"><h3>Contact Us</h3></div>
                <p>
                    We'd love to hear from you! You can contact the YSFHQ staff at <a href="mailto:contact@ysfhq.com" class="">contact@ysfhq.com</a>. You can also fill out our contact form <a href="#">here</a>. For all legal matters, please email <a href="mailto:legal@ysfhq.com" class="">legal@ysfhq.com</a>. <a href="#">Visit us on the forums!</a>
                </p>

                <!-- Stay Connected -->
                <div class="headline"><h3>Stay Connected</h3></div> 
                <ul class="social-icons">
                    <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
                    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                    <li><a href="#" data-original-title="YouTube" class="social_youtube"></a></li>
                </ul>
            </div><!--/span4-->
        </div><!--/row-fluid--> 
    </div><!--/container--> 
</div><!--/footer-->    
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row-fluid">
            <div class="span8">
                <p>2013 &copy; YSFlight Headquarters. All Rights Reserved. <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
            </div>
            <div class="span4">
                <a href="index.html"><img id="logo-footer" src="assets/img/logo_text.png" class="pull-right" alt="" /></a>
            </div>
        </div><!--/row-fluid-->
    </div><!--/container--> 
</div><!--/copyright--> 
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="assets/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="assets/js/modernizr.custom.js"></script>        
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/js/respond.js"></script>
<![endif]-->

</body>
</html> 
